.homePageContainer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    
    /* background-color: rgb(94, 214, 148); */
}
html {
    scroll-behavior: smooth;
}
